.pic{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    display: block;
}

body{
    font-family: Tahoma, Georgia;
}

h1{
    margin: 10px 0px 0px 15px;
    display: inline;
}

#home{
    margin-left: 10px;
    font-style: none;
    text-decoration: none;
    color: black;
}

#profile{
    float: right;
    font-style: none;
    text-decoration: none;
    color: black;
    margin-top: 15px;
}

#logo{
    height: 47px;
    width: 140px;
}

body{
    background-color: papayawhip;
}

.pokemon_gen_one{
    position: relative;
    display: inline;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    margin: 3px 7px 3px 7px;
    text-align: center;
    font-family: inherit;
    background-color: white;
    padding-bottom: 5px;
}

.grass{
    background-color: #00f128;
}

.fire{
    background-color: #fd7d24;
}

.water{
    background-color: #6dfaff;
}

.poison{
    background-color: #b97fc9;
}

.flying{
    background-color:#839abd;
}

.bug{
    background-color:#01b61f;
}

.normal{
    background-color:#d3cecd;
}

.eletric{
    background-color:#ffd000;
}

.ground{
    background-color:#b49300;
}

.fairy{
    background-color:#ffb1d8;
}

.fighting{
    background-color:#ff5e00;
}

.psychic{
    background-color:#ff53b7;
}

.pokemon_gen_one span{
    position: relative;
    margin: 0px 10px 3px 10px;
    padding: 0px 15px 1px 15px;
    display: inline;
    border-radius: 2px;
}

.like-button {
    border: 1px;
    border-color: black;
    background-color: none;
    background-clip: content-box;
    height: 25px;
    width: 25px;
    margin-right: 1px;
    margin-top: 1px;
    text-align: right;
    display: inline;
}   

.like-button:hover {
    border: 1px;
    border-color: black;
    display: inline;
} 

p {
    display: inline;
}