img{
    width: 200px;
    height: 200px;
    background-color: lightgray;
}

header{
    font-family: Garamond, Georgia;
}

body{
    background-color: papayawhip;
}
.pokemon_gen_one{
    position: relative;
    display: inline;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: 3px 7px 3px 7px;
    text-align: center;
    font-family: inherit;
    background-color: white;
}

.grass{
    background-color: #00f128;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.fire{
    background-color: #fd7d24;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.water{
    background-color: #6dfaff;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.poison{
    background-color: #b97fc9;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.flying{
    background-color:#bdb9b8;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.bug{
    background-color:#01b61f;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.normal{
    background-color:#d3cecd;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.eletric{
    background-color:#ffd000;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.ground{
    background-color:#b49300;
    padding: 1px 20px 1px 20px;
    margin-right: 1px;
    border-radius: 2px;
}

.pokemon_gen_one > span{
    position: relative;
    margin: 1px 7px 3px 7px;
    display: inline;
    float: left;
}